body {
   background-color: black;
   font-family: Arial, Helvetica, sans-serif;
   color: white;
}

.container {
    display: flex;
    flex-direction: row;
    border: none;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.outline {
    border: none;
    width: auto;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.tab {
    height: 25px;
    width: 200px;
}

.your-value-outline {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    margin-left: 0; 
    margin-right: auto;
    padding-bottom: none;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
    background-image: conic-gradient(#096C5D, #138940,#138940, #096C5D,#096C5D);
}

.tab-content {
    background-color: black;
    height: 100%;
    width: 100%
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    padding-left: 5px;
}

.your-value{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.main-box {
    border: none;
    width: 546px;
    height: 249px;
    margin: 0;
    position: relative;
    z-index: 10;
    padding: 3px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-image: conic-gradient(#138940,#096C5D, #138940, #096C5D,#138940);
  }

.tokens {
    border: none;
    width: 536px;
    padding: 5px;
    position: absolute;
    height: 107px;
    display: flex;
    flex-flow: row nowrap;
    background-color: black;
}

.logo {
    width: 127px;
    border: none;
    padding: 5px;
    background-color: #04312A;
    margin-right: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-pic {
   width: 97px;
   height: 97px;
   border-radius: 10px;
}

.token-choice {
    width: 150px;
    height: 45px;
    border: none;
    padding: 3px;

}

select {
    -webkit-appearance: none;
    padding: 5px;
    border-radius: 3px;
    font-size: 12pt;
    width: 130px;
}

.amount {
    width: 255px;
    border: none;
    padding: 3px;
    text-align: left;
}

.amount-top {
    line-height: 35px;
    height: 46px;
    align-content: flex-end;
}

.amount-bottom {
    line-height: 20px;
}

#enterAmount {
  font-size: 1.5em;
  font-weight: bold;
  width: 250px;
  background-color: #04312A;
  border: none;
  border-radius: 5px;
  color: white;
  padding-left: 5px;
}

::placeholder {
  color: white;
  opacity: 1;
}

.video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
  }

  .token1 {
    left: 3px;
    top: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .swap-main {
    position: absolute;
    border-radius: 10px;
  }

  .swap {
    background-color: black;
    z-index: 1;
    width: 94px;
    height: 94px;
    bottom: 78px;
    right: -17px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #swap-img {
    height: 60px;
    width: 60px;
}

  .swap-shadow {
    background-image: conic-gradient(#096C5D, #138940, #096C5D,#096C5D,#096C5D);
    padding: 3;
    width: 100px;
    height: 100px;
    bottom: 75px;
    right: -20px;

  }

  .token2 {
    bottom: 3px;
    z-index: -1;
    left: 3px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .alph-value-outline {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: auto; 
    margin-right: 0;
    border: none;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    background-image: conic-gradient(#096C5D,  #096C5D,#138940,#138940,#096C5D);
}

  .alph-value {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: black;
    height: auto;
    width: auto;
}

.outline-right {
    border: none;
    width: 18px;
    height: 300px;
    background-color: none;
}

